/* Color-9 */
.ld-blog-replic .ld-blog-replic-inner .ld-blog-replic-contain .ld-blog-star i {
  color: #ba946b;
}

::-moz-selection {
  color: #ba946b;
  background: rgba(237, 90, 49, 0.15);
}

::selection {
  color: #ba946b;
  background: rgba(237, 90, 49, 0.15);
}

.checkout-page [type=radio]:checked + label:before {
  border: 1px solid #ba946b;
}
.checkout-page [type=radio]:checked + label:after {
  background: #ba946b;
}

.lh-aboutpage-call i {
  color: #ba946b;
}

.lh-our-blog .lh-our-blog-categories ul li a:hover span, .lh-our-blog .lh-our-blog-categories ul li p:hover span {
  color: #ba946b;
}

.lh-blog-relaxation .lh-blog-relaxation-tages span:hover {
  background-color: #ba946b;
}

.lh-our-blog-tages-inner ul.lh-our-blog-tages-inner-element li a:hover {
  background-color: #ba946b;
}

.lh-side-cart .lh-menu-title .menu-title {
  color: #ba946b;
}

.lh-services .lh-services-contain .lh-icon {
  border-color: #ba946b;
}
.lh-services .lh-services-contain .lh-icon i.fi {
  color: #ba946b;
}

.lh-amenities-in .lh-top-dish svg path, .lh-amenities-in .lh-top-dish svg circle {
  fill: #ba946b;
}

.lh-blog-details .lh-blog-details-quote .lh-blog-details-quote-image svg path {
  fill: #ba946b;
}

.ld-restaurant-menu .ld-restaurant-menu-contain h4 span {
  color: #ba946b;
}

.nav-tabs.rooms .nav-link.active:after {
  color: #ba946b;
  border-color: #ba946b;
}

.testimonials.svg-img {
  opacity: 0.4;
}
.testimonials.svg-img path {
  fill: #ba946b;
}

.prev-slick-img:after, .next-slick-img:after {
  border: 1px solid #ba946b;
}

.lh-hero .main-slider-dot .swiper-pagination-bullet {
  border-color: #ba946b;
}
.lh-hero .main-slider-dot .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ba946b;
}
.lh-hero .lh-main-content .lh-slider-content .lh-main-slider .lh-main-slider .lh-slide-content p {
  color: #ba946b;
}

.lh-hero-contain h1 span {
  color: #ba946b;
}

.nav-tabs .nav-link.active:after {
  color: #ba946b;
  border-color: #ba946b;
}

.lh-services .lh-services-contain .lh-icon svg path {
  fill: #ba946b;
}

.lh-blog .lh-blog-date span code {
  color: #ba946b;
}

.select-options li:hover {
  background: rgba(253, 133, 102, 0.1);
}

footer .footer-top-section ul li code {
  color: #ba946b;
}

.lh-our-blog .lh-our-blog-image .lh-our-blog-date h4 {
  color: #ba946b;
}
.lh-our-blog .lh-our-blog-categories ul li code {
  color: #ba946b;
}

.lh-contact .lh-contact-detalis .lh-contact-detalis-buttons a, .lh-contact .lh-contact-detalis .lh-contact-detalis-buttons .main {
  color: #ba946b;
}
.lh-contact .lh-contact-image svg path {
  fill: #ba946b;
}

.ld-faq .accordion .accordion-item .accordion-button:not(.collapsed):after {
  color: #ba946b;
}

.lh-hero-contain h4::after {
  border: 1px solid #ba946b;
}
.lh-hero-contain h4::before {
  border: 1px solid #ba946b;
}
.lh-hero-contain h2 span {
  color: #ba946b;
}
.lh-hero-contain h2 span::after {
  background: #ba946b;
}

.serch-box i {
  color: #ba946b;
}

.lh-prices .lh-prices-out {
  padding: 0 30px;
}
.lh-prices .lh-prices-out .lh-prices-in h4.lh-price-dollar {
  color: #ba946b;
}

.lh-menu-restaurant .nav-link.active {
  border: 1px solid #ba946b !important;
}

.lh-book-tale-box i {
  color: #ba946b;
}

.lh-tab-container .nav-tabs .nav-link:after {
  background: #ba946b;
}
.lh-tab-container .nav-tabs .nav-link.active {
  color: #ba946b !important;
}
.lh-tab-container .nav-tabs .nav-link.active:after {
  background: #ba946b;
}

.lh-room-details .lh-room-details-amenities .lh-cols-room ul li code {
  color: #ba946b;
}
.lh-room-details .lh-room-details-rules .lh-cols-room ul li code {
  color: #ba946b;
}
.lh-room-details .lh-room-details-review .lh-room-review-form .lh-review-form-rating i {
  color: #ba946b;
}

.lh-side-room .lh-side-reservation .lh-side-reservation-from i.ri-calendar-line {
  color: #ba946b;
}
.lh-side-room .lh-side-reservation .lh-side-reservation-from .form-check input:checked {
  background-color: #ba946b;
  border-color: #ba946b;
}

.nav-tabs .nav-link.active .lh-room .lh-room-iamge img {
  border: 1px solid #ba946b;
}

.lh-room-contain .lh-room-price h4 {
  color: #ba946b;
}
.lh-room-contain .lh-main-features .lh-room-features .lh-cols-room ul li::marker {
  color: #ba946b;
}

.lh-spa-booking .lh-spa-contain span i {
  color: #ba946b;
}

.lh-team .lh-team-image .lh-team-inner a i:hover {
  color: #ba946b;
}
.lh-team:hover .lh-team-image {
  border: 1px solid #ba946b;
}
.lh-team:hover .lh-team-contain i {
  color: #ba946b;
}

.testimonials_image_1::after {
  border: 1px solid #ba946b;
}

.lh-buttons-bg:hover {
  background: #ba946b;
  border: 1px solid #ba946b;
}

.lh-buttons-invers {
  color: #ba946b;
  border: 1px solid #ba946b;
}
.lh-buttons-invers:hover {
  color: #fff;
  background-color: #ba946b;
  border: 1px solid #ba946b;
}

.lh-buttons {
  background: #ba946b;
  border: 1px solid #ba946b;
}
.lh-buttons:hover {
  color: #ba946b;
  border: 1px solid #ba946b;
}

.banner h2 span {
  color: #ba946b;
}
.banner h2 span::after {
  background: #ba946b;
}

a.back-to-top {
  background: #ba946b;
}

.lh-top-social .lh-mail i {
  color: #ba946b;
}
.lh-top-social .lh-location i {
  color: #ba946b;
}
.lh-top-social .lh-location i {
  color: #ba946b;
}
.lh-top-social .lh-phone i {
  color: #ba946b;
}

ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #ba946b;
}
ul.navbar-nav li.nav-item a.nav-link:hover::before {
  background: #ba946b;
}
ul.navbar-nav li.nav-item a.nav-link::before {
  background: #ba946b;
}
ul.navbar-nav .dropdown .dropdown-menu li a:hover {
  color: #ba946b;
}

footer .footer-top-section .lh-social-media .lh-footer-social .lh-control-footer .lh-control-inner-icons {
  background-color: #ba946b;
}
footer .footer-bottom-copy span a {
  text-decoration: none;
  color: #ba946b;
}

.rooms-slider .slick-dots li.slick-active {
  background-color: #ba946b;
}
.rooms-slider .slick-dots li {
  border-color: #ba946b;
}

.dark-bg .lh-services .lh-services-contain .lh-icon svg path {
  fill: #ba946b;
}

.lh-buttons-2:hover {
  background: #ba946b;
  border-color: #ba946b;
}

.auth-card:after {
  background: #ba946b;
}

.lh-form .lh-signup-buttons a:hover {
  color: #ba946b;
}
/*# sourceMappingURL=color-9.css.map */